#About{
	padding: 100px 0px;
	background-image: url('../images/aboutBG.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#about-flex{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#About img{
	max-height: 350px;
	flex:1;
	margin: 20px 50px;
}

#aboutText{
	background-color: rgba(0,0,0,0.9);
	border-radius: 15px;
	padding: 20px;
	color:white;
	flex:3;
	min-width: 250px;
}
