#About{
	padding-top: 3%;
	padding-bottom: 3%;
	background-image: url('../images/aboutBG.jpg');
	background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
}

#About img{
	min-height: 200px;
	max-height: 600px;
	float:left;
	margin:auto;
	box-sizing: border-box;
	max-width: 50%;
}

#aboutText{
	background-color: rgba(0,0,0,0.9);
	border-radius: 15px;
	float:left;
	margin-top: 10%;
	margin-left: 10%;
	width:50%;
	min-width: 30%;
	box-sizing: border-box;
	padding: 20px;
	color:white;
}
