#Platforms{
	padding: 100px 0px;
	background-image: url('../images/platformsBG.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.platformText{
	color: black;
}

.platform{
	background-color: rgba(204,204,204,0.8);
	border-radius: 15px;
	color:white;
	padding:10px;
	margin: 10px 0px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.platform a{
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}

.platform img{
	height: 100px;
	margin: 0px 20px;
}